include ./../../components/counter/counter

mixin dropdown(options)
    - var dropdownClassName = "dropdown"
    .dropdown-wrapper
        .dropdown__label
            p= "2 кухни, 2 спальни.."
        .dropdown__list
            - for (var x = 0; x < options.items.length; x++)
                #x.dropdown__item
                    p= options.items[x]
                    +counter({})
