.input__container {
    display: flex;
    flex-direction: column;
    width: 320px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
    outline: none;
}
.input__label {
    border: 1px solid red;
}
.input {
    height: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
}
.input::placeholder {
    color: rgba(31, 32, 65, 0.25);
}
.input:hover, .input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
    outline: none;
}
