mixin input(options)
    -
        var inputClassName = "input__container " + options.class
    label(class = inputClassName)
        if options.title
            b(class = "input__title")= options.title
        input(type = "text", class = "input", placeholder = options.placeholder)
