mixin btn(options)
    -
        var buttonClassName = "button"
        var buttonWrapperClassName = "button-wrapper"
        buttonClassName += options.isFilled ? " button-filled" : ""
        buttonClassName += options.isBordered ? " button-bordered" : ""
        buttonClassName += options.isSubmit ? " button-submit" : ""
        buttonWrapperClassName += options.isSubmit ? "-submit" : ""
    div(class = buttonWrapperClassName)
        button(class = buttonClassName)= options.title || "click me"
