include ./../../components/button/button
include ./../../components/input/input

mixin form-login(options)
    - var formRegistrationClassName = "form-login"
    .form-login-wrapper
        .form-login
            p( class = "form-login__title")= options.title
            +input({type: "text", placeholder: "Email"})
            +input({type: "text", placeholder: "Пароль"})
            +btn({title: "Войти", isFilled:true, isSubmit: true})
            .form-login__registration
                p= "Нет аккаунта на Toxin?"
                +btn({title: "Создать", isBordered: true})

