include ./../../components/button/button
include ./../../components/input/input

mixin form-login(options)
    form(class = "form-login")
        p(class = "form-login__title")= options.title
        +input({class: "form-login__email", type: "text", placeholder: "Email"})
        +input({class: "form-login__password", type: "text", placeholder: "Пароль"})
        +button({class: "form-login__login-button", title: "Войти", isFilled:true, isSubmit: true})
        .form-login__registration
            p(class = "form-login__registration-title")= "Нет аккаунта на Toxin?"
            +button({class: "form-login__registration-button", title: "Создать", isBordered: true})

