mixin range-slider(options)
    - var rangeSliderClassName = "range-slider " + options.class
    div(class = rangeSliderClassName)
        .range-slider__info
            b(class = "range-slider__title")= options.title
            .range-slider__range= options.priceFrom + " - " + options.priceTo
        .range-slider__body
            .range-slider__value
            .range-slider__button.from
            .range-slider__button.to
            .range-slider__current
        span(class = "range-slider__footer")= options.footer
