mixin range-slider(options)
    - var formRegistrationClassName = "form-login"
    .range-slider-wrapper
        .range-slider
            .range-slider__info
                .range-slider__label= "range slider"
                .range-slider__range= "5 000 - 10 000"
            .range-slider__body
                .range-slider__value
                .range-slider__button.from
                .range-slider__button.to
                .range-slider__current
