include ./../../components/checkbox-button/checkbox-button

mixin checkbox-list(options)
    - var checkboxListClassName = "checkbox-list " + options.class
    div(class = checkboxListClassName)
        label(for = "checkbox-list__expanded" class="checkbox-list__label")
            input(type = "checkbox" id = "checkbox-list__expanded")
            p(class = "checkbox-list__title")= options.title
        .checkbox-list__list
            - for (var x = 0; x < options.items.length; x++)
                +checkbox-button({label: options.items[x]})
