.checkbox-list {
    display: flex;
    flex-direction: column;
    width: 266px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.75);

}
.checkbox-list__title {
    position: relative;
    padding: 14px;
    font-weight: bold;
    min-height: 44px;
    cursor: pointer;
    text-transform: uppercase;
    color: #1F2041;
}
.checkbox-list__title:after {
    content: '';
    transition: all .25s ease;
    position: absolute;
    background-image: url("./../../../expand_more-24px.svg");
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
}
#checkbox-list__expanded {
    display: none;
}
#checkbox-list__expanded:checked ~ .checkbox-list__title:after {
    transform: rotate(180deg);
}
.checkbox-list__list {
    text-transform: uppercase;
    color: #1F2041;
    display: flex;
    flex-direction: column;

}
.checkbox-list__list .checkbox-button {
    cursor: pointer;
    padding-right: 7px;
    padding-left: 15px;
    align-items: center;
    min-height: 30px;
}
.checkbox-list__item:hover {
    background: #cccccc;
}
.checkbox-list__list {
    display: none;
}
.checkbox-list__list.active {
    display: flex;
}
