mixin radio-button(options)
    -
        var radioButtonClassName = "radio-button"
    label(class = radioButtonClassName)
        input(type = "radio")
        .container
            span(class = "checkmark")
        p= options.text
