mixin radio-button(options)
    - var radioButtonClassName = "radio-button"
    .radio-button-wrapper
        - for (var x = 0; x < options.radioOptions.length; x++)
            label(class = radioButtonClassName)
                input(type = "radio", name = options.name)
                .radio-button-container
                    span(class = "radio-button-checkmark")
                p= options.radioOptions[x]
