mixin radio-button(options)
    - var radioButtonClassName = options.class
    div(class = "radio-button__container " + radioButtonClassName)
        - for (var x = 0; x < options.radioOptions.length; x++)
            label(class = "radio-button__label")
                input(class = "radio-button__input" type = "radio", name = options.name)
                .radio-button
                    span(class = "radio-button__checkmark")
                p(class = "radio-button__option")= options.radioOptions[x]
