include ./../../components/button/button
mixin header(options)
    - var headerClassName = "header"
    .header-wrapper
        .header
            .header-logo
                img( src = "./../logo.svg")
            .header-navigation
                nav( class = "header-nav")
                    ul( class = "nav-list")
                        - for (var x = 0; x < options.nav.length; x++)
                            li( class = "nav-item")= options.nav[x]
                if !options.isLogined
                    .login
                        +button({title: "Войти", isBordered: true})
                        +button({title: "Зарегистрироваться", isFilled: true})
                else
                    .logout= "Cosmin Negoita"
