.dropdown {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
.dropdown-wrapper {
    width: 266px;
    height: 200px;
    position: relative;
    padding: 0px;
}
.dropdown-count {
    display: block;
}
.dropdown-count span {
    margin: 0 10px;
}
.dropdown-count button {
    width: 30px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background: #FFFFFF;
    color: rgba(31, 32, 65, 0.25);
    border-radius: 15px;
    outline: none;
}
.dropdown-count button:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.5);
}
.dropdown-select-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1F2041;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    align-items: center;
    height: 44px;
    z-index: 2;
}
.dropdown-select-label:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px;
}
.dropdown-select-label p {
    margin: 0px;
    display: block;
}
.dropdown-items input
{
    display: none;
}

#dropdown-text
{
    position: absolute;
    width: 266px;
    height: 44px;
    top: 0;
    padding-bottom: 0px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.5);
}


.dropdown-select
{
    display: inline-block;
    width: 266px;
    height: 44px;
    line-height: 40px;
    position: relative;
}

.dropdown-select:before
{
    content: ">";
    display: inline-block;
    box-sizing: border-box;
    background: white;
    position: absolute;
    right: 4px;
    top: 4px;
    padding-top: 10px;
    z-index: 3;
    width: 44px;
    height: 38px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    transform: rotate(90deg);
    align-items: center;
    cursor: pointer;
}

.dropdown-select input[name="list"]:not(:checked) ~ #dropdown-text
{
    background: white;
}

.dropdown-select input[name="list"]:checked ~ #dropdown-text
{
    background: transparent;
    color: transparent;
}

#dropdown-select:disabled ~ .dropdown-items #dropdown-text
{
    background: #eee;
}

.dropdown-items
{
    display: block;
    min-height: 44px;
    position: absolute;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px;
    overflow: hidden;
    width: 266px;
    cursor: pointer;
    z-index: 2;

}

#dropdown-select:not(:checked) ~ .dropdown-items
{
    height: 44px;
}

.dropdown-items .dropdown-select-label
{
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFFFFF;
}

#dropdown-select:checked ~ .dropdown-items
{
    padding-top: 44px;
}

#dropdown-select:checked ~ .dropdown-items label
{
    display: flex;
}

.dropdown-items input:checked + .dropdown-select-label
{
    display: flex!important;
    justify-content: space-between;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-transform: none;
}

#dropdown-select:checked ~ .dropdown-bg
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: rgba(0,0,0,0.4);
}

