mixin toggle(options)
    -
        var toggleClassName = "toggle__container " + options.class
    label(class = toggleClassName)
        input(class = "toggle__input" type = "checkbox")
        .toggle
            span(class = "toggle__checkmark")
        p(class = "toggle__title")= options.text
