include ./components/button/button
include ./components/input/input
include ./components/checkbox-button/checkbox-button
include ./components/radio-button/radio-button
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title FSD-frontend-education-program-2nd-task
        link(rel="stylesheet" type="text/css" href="main.css")
    body
    .wrapper
        +radio-button({name: "sex", radioOptions: ["Мужчина", "Женщина"]})
        +checkbox-button({text: "Можно курить"})
        +checkbox-button({text: "Можно с питомцами"})
        +checkbox-button({text: "Можно пригласить гостей (до 10 человек)"})
