include ./components/button/button
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title FSD-frontend-education-program-2nd-task
        link(rel="stylesheet" type="text/css" href="main.css")
    body
    .wrapper
        +btn({})
        +btn({isBordered: true})
        +btn({isFilled: true})
