include ./components/button/button
include ./components/input/input
include ./components/checkbox-button/checkbox-button
include ./components/radio-button/radio-button
include ./components/toggle/toggle
include ./components/like-button/like-button
include ./components/rate-button/rate-button
include ./components/dropdown/dropdown
include components/select-js/select-js
include components/counter/counter
include components/header/header
include components/footer/footer
include components/checkbox-list/checkbox-list
include components/card/card
    // ------------------------------------
include components/form-search/form-search
include components/form-registration/form-registration
include components/form-login/form-login
    // ----------------------
include pages/landing-page/landing-page

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title FSD-frontend-education-program-2nd-task
        link(rel="stylesheet" type="text/css" href="main.css")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body

    .wrapper
        //+landing-page({})
        +card({imgSrc: "./../card_image_1.jpg", number: "111", isLux:true, price: "9 990", rate: "3", reviews: "65"})
        //+form-login({title: "Войти"})
        //+form-registration({title: "Регистрация аккаунта"})
        //+form-search({title: "Найдём номера под ваши пожелания"})
        //+checkbox-list({items: ["Спальни", "Кухни", "Ванные комнаты", "Кухни", "Ванные комнаты", "Кухни", "Ванные комнаты"]})
        //+dropdown({title: "Dropdown", label: "2 кухни, 2 спальни..", items: ["Спальни", "Кухни", "Ванные комнаты"]})
        //+btn({title: "Перейти к оплате", isSubmit: true, isFilled: true})
        //+footer({nav: ["navigation", "About us", "News", "Support", "Products"],
        //    about: ["about us", "Who we are", "Our team", "Careers", "Investors"],
        //    support: ["support", "Documentation", "Community", "Get in touch"],
        //    subscribe: {title: "subscribe to our newsletter", text: "Receive our latest news and promotions in your inbox!"},
        //    text: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."})
        //+header({isLogined: false, nav: ["Home", "About us", "Services", "Careers", "News", "Documentation"]})
        //+header({isLogined: true, nav: ["Home", "About us", "Services", "Careers", "News", "Documentation"]})
        //+counter({})
        //+select-js({selectors: [{value: "1", select: "Спальни"}, {value: "2", select: "Кухни"}, {value: "3", select: "Ванные комнаты"}]})
        //+rate-button({count: "4"})
        //+rate-button({count: "1"})
        //+rate-button({count: "2"})
        //+rate-button({count: "5"})
        //+like-button({count: "2"})
        //+like-button({count: "12", isActive: true})
        //+toggle({text: "Получать спецпредложения"})
        //+radio-button({name: "sex", radioOptions: ["Мужчина", "Женщина"]})
        //+checkbox-button({text: "Можно курить"})
        //+checkbox-button({text: "Можно с питомцами"})
        //+checkbox-button({text: "Можно пригласить гостей (до 10 человек)"})
    script(src="./app.js")
