@import "./components/button/button.css";
@import "./components/input/input.css";
@import "./components/checkbox-button/checkbox-button.css";
@import "./components/radio-button/radio-button.css";
@import "./components/toggle/toggle.css";
@import "./components/like-button/like-button.css";
@import "./components/rate-button/rate-button.css";
@import "./components/dropdown/dropdown.css";
@import "./components/select-js/select-js.scss";
@import "./components/counter/counter.css";
@import "./components/header/header.css";
@import "./components/footer/footer.css";
@import "./components/checkbox-list/checkbox-list.css";
/*---------------------*/
@import "./components/form-search/form-search.css";
@import "./components/form-registration/form-registration.css";
@import "./components/form-login/form-login.css";

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.45;
    color: #999;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column
}
.hidden {
    display: none;
}
