mixin checkbox-button(options)
    -
        var checkboxButtonClassName = "checkbox-button"
    label(class = checkboxButtonClassName)
        input(type = "checkbox")
        .checkbox-button-container
            span(class = "checkbox-button-checkmark")
        p= options.text
