mixin checkbox-button(options)
    -
        var checkboxButtonClassName = "checkbox-button " + options.class
    label(class = checkboxButtonClassName)
        input(class = "checkbox-button__input" type = "checkbox")
        .checkbox-button__mark
            span(class = "checkbox-button__checkmark")
        .checkbox-button__content
            if options.isRich
                b(class = "checkbox-button__label")= options.label
                p(class = "checkbox-button__text")= options.text
            else
                p(class = "checkbox-button__label_no-rich")= options.label

