.checkbox-button {
    display: flex;
    flex-direction: row;
    width: 200px;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    text-transform: none;
    cursor: pointer;
}

.checkbox-button__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkbox-button:hover > .checkbox-button__mark .checkbox-button__checkmark {
    border-color: #BC9CFF;
}
.checkbox-button__input:checked + .checkbox-button__mark .checkbox-button__checkmark {
    border-color: #BC9CFF;
}
.checkbox-button__checkmark {
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
.checkbox-button__checkmark:after {
    left: 5px;
    top: 10px;
    width: 6px;
    height: 2px;
    background: linear-gradient(90deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(45deg);

}
.checkbox-button__checkmark:before {
    z-index: 3;
    left: 8px;
    top: 9px;
    width: 8px;
    height: 2px;
    background: linear-gradient(90deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(-45deg);
}
.checkbox-button__checkmark:after, .checkbox-button__checkmark:before {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-button__input:checked + .checkbox-button__mark .checkbox-button__checkmark:after,
.checkbox-button__input:checked + .checkbox-button__mark .checkbox-button__checkmark:before {
    display: block;
}

.checkbox-button__mark {
    display: block;
    height: 20px;
    width: 20px;
    position: relative;
}
.checkbox-button__content {
    display: flex;
    flex-direction: column;
}

.checkbox-button__text {
    margin: 0;
    margin-left: 10px;
    margin-top: 1px;
}
.checkbox-button__label {
    margin: 0;
    margin-left: 10px;
    margin-top: 1px;
    color: rgba(31, 32, 65, 0.75);
}

.checkbox-button__label_no-rich {
    margin: 0;
    margin-left: 10px;
    margin-top: 1px;
    color: rgba(31, 32, 65, 0.5);

}
